.addContact {
  background-color: rgb(132, 132, 132);
  border: 2px solid rgb(192, 255, 192);
  color: rgb(193, 255, 193);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}
